*
{
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

body {
  line-height: 1;
  color: #ffffff;
  overflow: hidden ;
}

p{
  font-style: normal;
  font-weight: normal;
  line-height: normal !important;
  font-size: 14px !important;
}
h1{
  margin: 0 !important;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11%;
}
.big-container{
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: url(./assets/images/background.png) no-repeat;
}

.blackout{
  position: fixed;
  top: 11%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141313;
  opacity: 0.85;
  z-index: -1;
}

/*header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 11%;
  align-items: center;
}
nav{
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav a{
  color: #B1B1B1;
  text-decoration: none;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
}
nav a span:hover{
  border-top:  2px solid #FA5403;
  color: #ffffff;
}
.logo{
  width: 8%;
  text-align: center;
}
.corner-logo{
  opacity: 0.5;
}
.corner-logo:hover{
  opacity: 1;
}
/*header*/

.page-h1{
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 29px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.page-content{
  width: 100%;
  height: 100%;
}
.page-title{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 10%;
  margin: 50px 30px;
}
.page-icon{
  display: flex;
}

/*Главная*/
.landing-grid {
  text-align: left;
}

.banner-text{
  float: left;
  margin: -2px 30px 0 35px;
  width: 400px;
}
.big-logo{
  float: left;
}

.footer-main{
  width: 215px;
  height: 46px;
  text-align: center;
  position: absolute;
  bottom: 17px;
  right: 97px;
}

.footer-main a{
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 18px;;
}
/*Главная*/

/*О нас*/
.about-main-image{
  position: relative;
}
.about-main-image img{
  width: 651px;
  height: 467px;
}
.about-logo{
  position: absolute;
  bottom: -35px;
  left: -40px;
  width: 130px !important;
  height: 234px !important;
}
.about-content-wrap{
  display: flex;
  align-items: stretch;
  width: 87%;
  margin: auto;
}
.about-secondary-images{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.about-secondary-images img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  width: 198px;
  height: 155px;
}
.about-text{
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-text p{
  font-size: 17px !important;
  font-family: Roboto,sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.social-icons {
  display: flex;
  flex-direction: row;
}
.social-icons div{
  margin-right: 30px;
}
.footer-about{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}
.footer-about div{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 16px;
}
.footer-about a{
  text-decoration: none;
  color: #ffffff;
}
.footer-about-wrap{
  width: 100%;
}
.ymaps-geolink{
  color: #ffffff !important;
}
.ymaps-2-1-72-id-0::before{
  content: none !important;
}
.ymaps-2-1-72-geolink-processed::after{
  content: none !important;
}
.vk{
  width: 41px; height: 41px;
  background: url('./assets/images/icons/css_sprites_vk.png') -10px -10px;
}
.vk:hover{
  width: 41px; height: 41px;
  background: url('./assets/images/icons/css_sprites_vk.png') -71px -10px;
}
.insta{
  width: 41px; height: 41px;
  background: url('./assets/images/icons/css_sprites_instagram.png') -10px -10px;
}
.insta:hover{
  width: 41px; height: 41px;
  background: url('./assets/images/icons/css_sprites_instagram.png') -71px -10px;
}
/*О нас*/
